.quick-link-navigation{
    height: 40px;
    background-color: #f0d886;
    .quick-link-navigation-list{
        padding-top: 10px;
        padding-left: 0px !important;
        list-style-type: none;
        .list-item{
            float: right;
            padding-left: 20px;
        }
        .list-item:hover{
            color: #9e0039; 
            cursor: pointer;
        }
        .list-item:first-child{
            padding-right: 20px;
    }
}
}